.mypy_cache
.vscode

Classwork/

# Assignment from wk02
Assignments/Bake-Animations/files/
Assignments/Bake-Animations/save_here/
Assignments/Bake-Animations/ktachiyama_challenge.py

# Assignment from wk03
Assignments/MEL-Bake-Animations/save_here/
Assignments/MEL-Bake-Animations/animations/
Assignments/MEL-Bake-Animations/partial_anims
Assignments/MEL-Bake-Animations/character.mb

# Assignment from wk04
Assignments/Bake-Animations-UI/save_here/